*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
#app{
    display:flex;
    flex-direction: column;
    height: 100vh;

}
#yt-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex:0 0 100%;
    background-color: #ccc;
    padding:10px 20px;
}
#user-actions ul{
    display: flex;
}
#user-actions a{
    display: inline-block;
    margin-left: 10px;
    padding:5px;
    text-decoration:none;
}
#search-bar input{
    width:200px;
    outline-style: none;
}
main{
    display:flex;
    flex: 1;
}
#yt-menu{
    flex:0 0 24%;
    background-color: #aaa;
}
#yt-menu li{
    margin:10px 20px;
    text-decoration:none;
}
#yt-content{
    display: flex;
    flex-wrap:wrap;
    flex:0 0 76%;
    background-color:#777;
}
#yt-content .conent-message{
    flex:0 0 25%;
    padding:15px;
}
#yt-content .pic img{
    width: 100%;
}
#yt-content .Avatar img{
    border-radius:50%;
}
#yt-content .message{
    display: flex;
    margin-top: 15px;
}
#yt-content .message .text{
    margin-left: 20px;
}
#yt-content .message .text .title{
    font-size: 15px;
}
#yt-content .message .text .subtitle{
    font-size: 13px;
    margin-top:7px;
    color: #aaa;
}

